body {
	background-color: rgb(40,95,70);
}

img {
	width : 600px;
	height : 600px;
	margin: 20px;
	padding : 20px;
	object-fit: cover; 		/* to crop into image */
	border-radius: 50%; 
	float: left;			/* so text can go around it */
	border-style:solid;
}

div.outer { 				/* selects all divs with class="outer" */
	margin: auto;
	background-color: rgb(20,30,60);
	color: white;
	border-style:solid;
	margin: 20px;
	overflow: auto; 		/* needed when all internal elements are float */
	display: flex;  		/* to vertically center internal divs */
	align-items: center; 	/* vertical centering */
}

div.inner {
	margin: 20px;
	padding: 20px;
	background-color: rgb(40,70,200);
	border-style:solid;
	color:    white;
	font-size: 72px;
	float: left;
}

